{% extends 'base.html.twig' %}

{% block title %}Let's chill{% endblock %}

{% block body %}
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 ">
                    <div class="p-5"><img class="img-fluid " src="https://img.freepik.com/vecteurs-libre/modele-logotype-biere-froide-vintage_225004-1234.jpg?w=2000" alt="..." /></div>
                </div>
                <div class="col-lg-6 ">
                    <div class="p-5">
                        <h2 class="display-4">Relax au club house </h2>
                        <p>Le tir sportif est une discipline qui demande une grande concentration et une maitrise de soi complète. Après une séance d'entrainement, nos adhérents peuvent venir se détendre avec une boisson au club house. Bon, ça reste entre nous, mais on ne controle pas vraiment si vous ne faites pas la séance d'entrainement avant !
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content section 2-->
    <section id="scroll">
        <div class="container px-5">

            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid " src="https://i.pinimg.com/736x/17/95/c2/1795c2e06cc57d392c07094b75eedc10.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Vente de consommables </h2>
                        <p>Le club house prend également en charges la vente de consommables pour votre activité de tir :
                            cibles,cartouches, recharge d'air comprimé... Les volumes d'achat du club permettent de négocier les tarifs pour offrir les meilleurs conditions d'achat aux adhérents. Nous sommes ainsi heureux d'avoir pu proposer l'acquisition de cartouches XP3 MD10 à un prix fixe de 0,03€ pendant toute la saison 2021-2022. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
