<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a href="/blog/news">   <button class="btn btn-primary m-md-2" type="button">Afficher les articles concernant le club</button> </a>
    <a href="/blog/results"> <button class="btn btn-warning m-md-2" type="button">Afficher les résultats sportifs</button></a>
    <a href="/blog"> <button class="btn btn-success m-md-2" type="button">Tout afficher</button></a>
</div>