<div class="d-grid  d-md-flex justify-content-md-center row m-2">
    <a href="/blog/news" class="col-md-3 text-center col-12 m-2 ">   <button class="btn btn-outline-warning m-md-2 w-100" type="button">Actu du club</button> </a>
    <a href="/blog/results" class="col-md-3 text-center col-12 m-2"> <button class="btn btn-outline-warning m-md-2 w-100" type="button">Résultats sportifs</button></a>
    <a href="/blog" class="col-md-3 text-center col-12 m-2"> <button class="btn btn-outline-warning m-md-2 w-100" type="button">Tout afficher</button></a>
</div>