{% block header %}
{#    <nav class="navbar navbar-expand-lg bg-light">#}
{#        <div class="container-fluid">#}
{#            <a class="navbar-brand" href="#"> <img src="https://www.fftir.org/wp-content/uploads/2021/01/Logo-FFTIR-1.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">#}
{#                Club de tir sportif de Roche la Molière</a>#}
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}

{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>#}
{#                    </li>#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" aria-current="page" href="/club/house">Notre club house</a>#}
{#                    </li>#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" aria-current="page" href="#">Nos pas de tir</a>#}
{#                    </li>#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" aria-current="page" href="/blog">Actu du club</a>#}
{#                    </li>#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Le tir sportif</a>#}
{#                    </li>#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Nous rejoindre</a>#}
{#                    </li>#}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Contacts</a>#}
{#                    </li>#}


{#                </ul>#}

{#            </div>#}
{#            <div class="d-flex">#}
{#                    {% if app.user %}#}
{#                            <a class="nav-link btn btn-outline-secondary p-2" href="{{path('logout')}}" type="button"><i class="bi bi-box-arrow-right"></i></a>#}
{#                    {% else %}#}
{#                            <a class="nav-link btn btn-outline-secondary p-2" href="{{path('login')}}" type="button"><i class="bi bi-box-arrow-in-right"></i></a>#}
{#                    {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">
                <img src="https://www.fftir.org/wp-content/uploads/2021/01/Logo-FFTIR-1.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Centre de tir rouchon
            </a>
            <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Accueil
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Le centre de tir rouchon</a></li>
                            <li><a class="dropdown-item" href="#">Notre club house</a></li>
                            <li><a class="dropdown-item" href="#">Nos pas de tir</a></li>
                            <li><a class="dropdown-item" href="#contact">Formulaire de contact</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#blog">La vie du club</a></li>
                    <li class="nav-item"><a class="nav-link" href="#inscription">Inscription</a></li>

                </ul>
                <div class="d-flex">
                    {% if app.user %}
                        <a class="nav-link btn btn-outline-secondary p-2" href="{{path('logout')}}" type="button"><i class="bi bi-box-arrow-right"></i></a>
                    {% else %}
                        <a class="nav-link btn btn-outline-secondary p-2" href="{{path('login')}}" type="button"><i class="bi bi-box-arrow-in-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>




{% endblock %}